body {
    background-position: center center;
    background-size: cover;
    background-image: url('background5.png');
    background-repeat: no-repeat;
    height: 100vh;
}

.arena {
    height: 75vh;
}

.dragonImg {
    width: 650px;
    height: 650px;
    margin-left: -50px;
}

.dragonImg:active {
    transform: translateY(4px);
}

/* .warriorImg {
    width: 180px;
    height: 180px; 
    margin-bottom: 40px; 
    margin-right: 40px;
} */


#zenny {
    color: rgb(154, 236, 241);
}

#Archer {
    width: 190px;
    height: 185px; 
    margin-bottom: 40px; 
    margin-right: 40px;
}

#Gunlance {
    width: 400px;
    height: 310px;
}

#Longsword {
    width: 220px;
    height: 180px; 
    margin-bottom: 40px; 
    margin-right: 40px;
}

#ChargeBlade {
    width: 240px;
    height: 205px;
}

#upgradeButton {
    margin: 5px;
    background-color: rgb(131, 218, 210);
    border: 3px solid rgb(30, 102, 143);
    box-shadow: 3px 3px black, -3px 3px black;
}

.buttonImg {
    height: 50px;
    width: 50px;
}